n8n-workflows/whatsapp-share.json
{
  "name": "WhatsApp Share - OData Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-share",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-whatsapp",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "whatsapp-share"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-whatsapp",
              "leftValue": "={{ $json.body.channel }}",
              "rightValue": "whatsapp",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-whatsapp",
      "name": "Is WhatsApp Channel",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"channel\": \"whatsapp\", \"message\": \"WhatsApp message queued\" } }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [920, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"channel\": \"whatsapp\", \"message\": \"Invalid channel\" } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [920, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $json.body.user?.whatsapp || 'whatsapp:+1234567890' }}"
            },
            {
              "name": "From",
              "value": "={{ $env.TWILIO_WHATSAPP_NUMBER || 'whatsapp:+14155238886' }}"
            },
            {
              "name": "Body",
              "value": "={{ $json.body.share_text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-twilio",
      "name": "Send via Twilio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 200],
      "credentials": {
        "httpBasicAuth": {
          "id": "twilio-basic-auth",
          "name": "Twilio Basic Auth"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Is WhatsApp Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is WhatsApp Channel": {
      "main": [
        [
          {
            "node": "Send via Twilio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send via Twilio": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "odata-chatbot"
    }
  ],
  "triggerCount": 1
}
